/*BASICS*/

html,
body {
    height: 100%;
    padding: 0;
}

.jumbotron {
    margin: 0;
    background-color: #29292c;
}

.container {
    padding: 80px 0px;
}


/*NAV*/

#nav {
    color: #52B5D9;
}

#nav a {
    color: #52B5D9;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    /*position: absolute;*/
    width: 100%;
    background-color: #2d2d30;
    border: none;
}


/* Add a dark background color with a little bit see-through */

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}


/* Add a gray color to all navbar links */

.navbar li a,
.navbar .navbar-brand {
    color: #d5d5d5 !important;
}


/* On hover, the links will turn white */

.navbar-nav li a:hover {
    color: #fff !important;
}


/* The active link */

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}


/*BANNER*/

#banner {
    background-image: url(images/cube-crop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#banner div {
    margin: auto;
}

#banner h2 {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#banner p {
    color: white;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#banner .btn-primary {
    background-color: #52B5D9;
}


/*SECTION 1*/

#one {}


/*SECTION 2*/

#two {
    background-color: #52B5D9;
}

#two .card {
    background-color: #fff;
    padding: 10px;
}

#smaller {
    margin: 0px 15%;
}

#two img {
    width: 100%;
    height: auto;
}


/*SECTION 3*/

#myChart {}


/*FOOTER*/

#footer p {
    color: white;
}


/* Icon */

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon:active,
.icon:hover {
    text-decoration: none;
}

.icon>.label {
    display: none;
}

.icon.rounded {
    background-color: #383b43;
    border-radius: 100%;
    color: #ffffff;
    display: inline-block;
    height: 3.25em;
    line-height: 3.25em;
    text-align: center;
    width: 3.25em;
}

.icon.rounded.big {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.icon.rounded.fa-facebook {
    background-color: #39599f;
}

.icon.rounded.fa-linkedin {
    background-color: #31516a;
}

.icon.rounded.fa-instagram {
    background-color: #C84274;
}


/*some extra fun stuff*/

.slideanim {
    visibility: hidden;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}


/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
